//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 28 20:11:28 2023
//! **************************************************************************

SCHEMATIC START;
COMP "INPUT<0>" LOCATE = SITE "G3" LEVEL 1;
COMP "INPUT<1>" LOCATE = SITE "F3" LEVEL 1;
COMP "INPUT<2>" LOCATE = SITE "E2" LEVEL 1;
COMP "SEL" LOCATE = SITE "P11" LEVEL 1;
COMP "INPUT<3>" LOCATE = SITE "N3" LEVEL 1;
COMP "OUTPUT<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "OUTPUT<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "OUTPUT<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "OUTPUT<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "OUTPUT<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "OUTPUT<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "OUTPUT<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "DISP_SUPPLY<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "DISP_SUPPLY<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "EN1" LOCATE = SITE "A7" LEVEL 1;
COMP "EN2" LOCATE = SITE "M4" LEVEL 1;
COMP "DISP_SUPPLY<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "EN3" LOCATE = SITE "C11" LEVEL 1;
COMP "DISP_SUPPLY<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "FLAG_OUTPUT<0>" LOCATE = SITE "P6" LEVEL 1;
COMP "FLAG_OUTPUT<1>" LOCATE = SITE "P7" LEVEL 1;
COMP "FLAG_OUTPUT<2>" LOCATE = SITE "M11" LEVEL 1;
COMP "FLAG_OUTPUT<3>" LOCATE = SITE "M5" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "CLR" LOCATE = SITE "G12" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

