#internal

	#clock
	NET "CLK" LOC = B8;

	#display_supply
	NET "DISP_SUPPLY<3>" LOC = K14;
	NET "DISP_SUPPLY<2>" LOC = M13;
	NET "DISP_SUPPLY<1>" LOC = J12;
	NET "DISP_SUPPLY<0>" LOC = F12;

	#display_signal
	NET "OUTPUT<6>" LOC = L14;
	NET "OUTPUT<5>" LOC = H12;
	NET "OUTPUT<4>" LOC = N14;
	NET "OUTPUT<3>" LOC = N11;
	NET "OUTPUT<2>" LOC = P12;
	NET "OUTPUT<1>" LOC = L13;
	NET "OUTPUT<0>" LOC = M12;

	#flag_output
	NET "FLAG_OUTPUT<3>" LOC = M5;
	NET "FLAG_OUTPUT<2>" LOC = M11;
	NET "FLAG_OUTPUT<1>" LOC = P7;
	NET "FLAG_OUTPUT<0>" LOC = P6;
	
#end internal

#user interface

	#switches
	NET "SEL" LOC = P11; # = B4;
	NET "INPUT<0>" LOC = G3; 
	NET "INPUT<1>" LOC = F3; 
	NET "INPUT<2>" LOC = E2; 
	NET "INPUT<3>" LOC = N3; 

	#push buttons
	NET "CLR" LOC = G12;
	NET "EN3" LOC = C11;
	NET "EN2" LOC = M4;
	NET "EN1" LOC = A7;

#end user interface